html
    head
        title My Site - div title
        block scripts
            script(src='/jquery.js')
    body
        block content
        block tester
        block foot
            include foot.pug
            